/* Christian testing */
.card {
    background: #faece4;
}
#side-menu {
    background: #faece4;
    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 50%;
}
#side-menu img {
    margin-top: 20px;
}
#viewport {
    height: 100%;
}

.vertical-divider {
    width: 1px;
    height: 10px;
}
.card-header {
    box-shadow: none;
}
#table {
    position: left;
}
#main {
}
/* --------------------------------- */
